<a href="https://colab.research.google.com/github/saurabhtayal/Capstone-Project---Diabetic-Patients-Readmission-Prediction/blob/master/Baseline_Model_Comparisons_Saurabh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Baseline Model Raw

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score, f1_score, confusion_matrix, classification_report

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/saurabhtayal/Capstone-Project---Diabetic-Patients-Readmission-Prediction/master/diabetic_data.csv')

In [3]:
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO

[5 rows x 50 columns]

In [4]:
X = pd.get_dummies(df.drop('readmitted', axis = 1), drop_first = True)
y = df['readmitted'].replace({'NO' : 0, '>30' : 0, '<30' : 1})

In [5]:
X.head()

   encounter_id  patient_nbr  ...  change_No  diabetesMed_Yes
0       2278392      8222157  ...          1                0
1        149190     55629189  ...          0                1
2         64410     86047875  ...          1                1
3        500364     82442376  ...          0                1
4         16680     42519267  ...          0                1

[5 rows x 2436 columns]

In [6]:
y.value_counts()

0    90409
1    11357
Name: readmitted, dtype: int64

In [7]:
X.shape

(101766, 2436)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.3)

In [9]:
lr = LogisticRegression(random_state = 0)

In [10]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.0

In [11]:
confusion_matrix(y_test, y_pred)

array([[27108,     0],
       [ 3422,     0]])

In [12]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94     27108
           1       0.00      0.00      0.00      3422

    accuracy                           0.89     30530
   macro avg       0.44      0.50      0.47     30530
weighted avg       0.79      0.89      0.84     30530

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# 2nd Iteration with some-preprocessed data

## Filling Not Available values in admission columns w.r.t emergencies relative to each other

In [13]:
df = pd.read_csv('/content/drive/My Drive/PGPDSE/Capstone/CSV Files/diabetes_half_preprocessed_2.csv')
df.head()

              race  gender  ... readmitted preceding_year_visits
0        Caucasian       0  ...          0                     0
1        Caucasian       0  ...          0                     0
2  AfricanAmerican       0  ...          0                     3
3        Caucasian       1  ...          0                     0
4        Caucasian       1  ...          0                     0

[5 rows x 44 columns]

In [14]:
df.shape

(99300, 44)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99300 entries, 0 to 99299
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      97070 non-null  object
 1   gender                    99300 non-null  int64
 2   age                       99300 non-null  object
 3   admission_type_id         99300 non-null  object
 4   discharge_disposition_id  99300 non-null  object
 5   admission_source_id       99300 non-null  object
 6   time_in_hospital          99300 non-null  int64
 7   num_lab_procedures        99300 non-null  int64
 8   num_procedures            99300 non-null  int64
 9   num_medications           99300 non-null  int64
 10  number_outpatient         99300 non-null  int64
 11  number_emergency          99300 non-null  int64
 12  number_inpatient          99300 non-null  int64
 13  diag_1                    99300 non-null  object
 14  diag_2                    99300 non-null  object
 15  diag_3                    99300 non-null  object
 16  number_diagnoses          99300 non-null  int64
 17  max_glu_serum             99300 non-null  object
 18  A1Cresult                 99300 non-null  object
 19  metformin                 99300 non-null  int64
 20  repaglinide               99300 non-null  int64
 21  nateglinide               99300 non-null  int64
 22  chlorpropamide            99300 non-null  int64
 23  glimepiride               99300 non-null  int64
 24  acetohexamide             99300 non-null  int64
 25  glipizide                 99300 non-null  int64
 26  glyburide                 99300 non-null  int64
 27  tolbutamide               99300 non-null  int64
 28  pioglitazone              99300 non-null  int64
 29  rosiglitazone             99300 non-null  int64
 30  acarbose                  99300 non-null  int64
 31  miglitol                  99300 non-null  int64
 32  troglitazone              99300 non-null  int64
 33  tolazamide                99300 non-null  int64
 34  insulin                   99300 non-null  int64
 35  glyburide-metformin       99300 non-null  int64
 36  glipizide-metformin       99300 non-null  int64
 37  glimepiride-pioglitazone  99300 non-null  int64
 38  metformin-rosiglitazone   99300 non-null  int64
 39  metformin-pioglitazone    99300 non-null  int64
 40  change                    99300 non-null  int64
 41  diabetesMed               99300 non-null  int64
 42  readmitted                99300 non-null  int64
 43  preceding_year_visits     99300 non-null  int64
dtypes: int64(34), object(10)
memory usage: 33.3+ MB

In [16]:
for i in df.columns:
    print(i, '\n', df[i].unique(), '\n')

race
 ['Caucasian' 'AfricanAmerican' nan 'Other' 'Asian' 'Hispanic']

gender
 [0 1]

age
 ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

admission_type_id
 ['Not Available' 'Emergency' 'Elective']

discharge_disposition_id
 ['Not Available' 'Discharged to home'
 'Transferred to another medical facility'
 'Discharged to home with home health service' 'Left AMA'
 'Still patient/referred to this institution']

admission_source_id
 ['Referral' 'Emergency' 'Transferred from another health care facility'
 'Not Available']

time_in_hospital
 [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]

num_lab_procedures
 [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  28  48  10   2  65  67
  40  54  58  57  43  32  83  34  39  69  38  72  22  96  46  78  56  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102   7  89  91  92   4 101  99 100 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]

num_procedures
 [0 5 1 6 2 3 4]

num_medications
 [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 25  4 32
  6 26 24 33  5 27 39  3 30 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]

number_outpatient
 [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]

number_emergency
 [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]

number_inpatient
 [ 0  1  2  3  6  5  4  7  9  8 15 10 11 14 12 13 17 16 21 18 19]

diag_1
 ['Diabetes' 'Endocrine, Nutritional, Metabolic, Immunity'
 'Pregnancy, Childbirth' 'Infectious and Parasitic' 'Neoplasms'
 'Circulatory' 'Respiratory' 'Injury and Poisoning'
 'Skin and Subcutaneous Tissue'
 'Musculoskeletal System and Connective Tissue' 'Digestive'
 'External causes of injury' 'Genitourinary' 'Mental Disorders'
 'Other Symptoms' 'Nervous' 'Congenital Anomalies'
 'Blood and Blood-Forming Organs' 'Sense Organs']

diag_2
 ['Not Required' 'Diabetes' 'Neoplasms' 'Circulatory' 'Respiratory'
 'Blood and Blood-Forming Organs' 'Injury and Poisoning'
 'Musculoskeletal System and Connective Tissue' 'Genitourinary'
 'Infectious and Parasitic' 'Endocrine, Nutritional, Metabolic, Immunity'
 'Digestive' 'Skin and Subcutaneous Tissue' 'External causes of injury'
 'Nervous' 'Other Symptoms' 'Mental Disorders' 'Pregnancy, Childbirth'
 'Congenital Anomalies' 'Sense Organs']

diag_3
 ['Not Required' 'Endocrine, Nutritional, Metabolic, Immunity'
 'External causes of injury' 'Circulatory' 'Diabetes'
 'Infectious and Parasitic' 'Respiratory' 'Injury and Poisoning'
 'Neoplasms' 'Genitourinary'
 'Musculoskeletal System and Connective Tissue' 'Other Symptoms'
 'Digestive' 'Skin and Subcutaneous Tissue' 'Mental Disorders'
 'Congenital Anomalies' 'Nervous' 'Sense Organs' 'Pregnancy, Childbirth'
 'Blood and Blood-Forming Organs']

number_diagnoses
 [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]

max_glu_serum
 ['None' '>300' 'Norm' '>200']

A1Cresult
 ['None' '>7' '>8' 'Norm']

metformin
 [-2  0  1 -1]

repaglinide
 [-2  1  0 -1]

nateglinide
 [-2  0 -1  1]

chlorpropamide
 [-2  0 -1  1]

glimepiride
 [-2  0 -1  1]

acetohexamide
 [-2  0]

glipizide
 [-2  0  1 -1]

glyburide
 [-2  0  1 -1]

tolbutamide
 [-2  0]

pioglitazone
 [-2  0  1 -1]

rosiglitazone
 [-2  0  1 -1]

acarbose
 [-2  0  1 -1]

miglitol
 [-2  0 -1  1]

troglitazone
 [-2  0]

tolazamide
 [-2  0  1]

insulin
 [-2  1  0 -1]

glyburide-metformin
 [-2  0 -1  1]

glipizide-metformin
 [-2  0]

glimepiride-pioglitazone
 [-2  0]

metformin-rosiglitazone
 [-2  0]

metformin-pioglitazone
 [-2  0]

change
 [0 1]

diabetesMed
 [0 1]

readmitted
 [0 1]

preceding_year_visits
 [ 0  3  1  2  6  7 10  5  4 14 15  8 12  9 13 11 18 17 25 27 23 30 16 31
 19 20 21 22 35 49 34 38 28 26 24 32 42 40 36 33 29 37 48 80 68 61 41]

In [17]:
for i in ['admission_type_id', 'admission_source_id']:
    print(df[i].value_counts())

Emergency        70504
Elective         18659
Not Available    10137
Name: admission_type_id, dtype: int64
Emergency                                        55850
Referral                                         30418
Not Available                                     6853
Transferred from another health care facility     6179
Name: admission_source_id, dtype: int64

In [18]:
for i in range(len(df['admission_type_id'])):
    if df.loc[i, 'admission_type_id'] == 'Not Available' and df.loc[i, 'admission_source_id'] == 'Emergency':
        df.loc[i, 'admission_type_id'] = 'Emergency'
print(df['admission_type_id'].value_counts())

Emergency        72365
Elective         18659
Not Available     8276
Name: admission_type_id, dtype: int64

In [19]:
for i in range(len(df['admission_source_id'])):
    if df.loc[i, 'admission_source_id'] == 'Not Available' and df.loc[i, 'admission_type_id'] == 'Emergency':
        df.loc[i, 'admission_source_id'] = 'Emergency'
print(df['admission_source_id'].value_counts())

Emergency                                        56912
Referral                                         30418
Transferred from another health care facility     6179
Not Available                                     5791
Name: admission_source_id, dtype: int64

In [20]:
for i in range(len(df['admission_type_id'])):
    if df.loc[i, 'admission_type_id'] == 'Not Available' and df.loc[i, 'admission_source_id'] == 'Emergency':
        df.loc[i, 'admission_type_id'] = 'Emergency'
print(df['admission_type_id'].value_counts())

Emergency        72365
Elective         18659
Not Available     8276
Name: admission_type_id, dtype: int64

In [21]:
for i in range(len(df['admission_source_id'])):
    if df.loc[i, 'admission_source_id'] == 'Not Available' and df.loc[i, 'admission_type_id'] == 'Emergency':
        df.loc[i, 'admission_source_id'] = 'Emergency'
print(df['admission_source_id'].value_counts())

Emergency                                        56912
Referral                                         30418
Transferred from another health care facility     6179
Not Available                                     5791
Name: admission_source_id, dtype: int64

In [22]:
df[df['admission_type_id'] == 'Emergency']['admission_source_id'].value_counts()

Emergency                                        55991
Referral                                         11513
Transferred from another health care facility     4861
Name: admission_source_id, dtype: int64

In [23]:
df[df['admission_type_id'] == 'Elective']['admission_source_id'].value_counts()

Referral                                         16432
Transferred from another health care facility     1247
Emergency                                          921
Not Available                                       59
Name: admission_source_id, dtype: int64

In [24]:
df[df['admission_type_id'] == 'Not Available']['admission_source_id'].value_counts()

Not Available                                    5732
Referral                                         2473
Transferred from another health care facility      71
Name: admission_source_id, dtype: int64

In [25]:
df[df['admission_source_id'] == 'Emergency']['admission_type_id'].value_counts()

Emergency    55991
Elective       921
Name: admission_type_id, dtype: int64

In [26]:
df[df['admission_source_id'] == 'Referral']['admission_type_id'].value_counts()

Elective         16432
Emergency        11513
Not Available     2473
Name: admission_type_id, dtype: int64

In [27]:
df[df['admission_source_id'] == 'Transferred from another health care facility']['admission_type_id'].value_counts()

Emergency        4861
Elective         1247
Not Available      71
Name: admission_type_id, dtype: int64

In [28]:
df[df['admission_source_id'] == 'Not Available']['admission_type_id'].value_counts()

Not Available    5732
Elective           59
Name: admission_type_id, dtype: int64

## Checking Race Values

### Dropping Nan

In [29]:
df_2 = df.dropna()
df.shape, df_2.shape

((99300, 44), (97070, 44))

In [30]:
X = df_2.drop('readmitted', axis = 1)
X = pd.get_dummies(X, drop_first = True)

In [31]:
y = df_2['readmitted']

In [32]:
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### Relacing with Mode

In [33]:
df['race'].isna().sum()

2230

In [34]:
X = df.drop('readmitted', axis = 1)
X['race'] = X['race'].fillna(X['race'].mode()[0])
print(X['race'].isna().sum())
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']

0

In [35]:
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.013657957244655582

### Filling with probability ratio

In [36]:
df['race'].isna().sum()

2230

In [37]:
X = df.drop('readmitted', axis = 1)
vc = X['race'].value_counts(normalize = True)
miss = X['race'].isna()
X.loc[miss, 'race'] = np.random.choice(vc.index, size = miss.sum(), p = vc.values)
X['race'].isna().sum()

0

In [38]:
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01336104513064133

## Treating Race Column (Dropping Nans) before moving on Age Column

In [39]:
df['race'].isna().sum(), df.shape

(2230, (99300, 44))

In [40]:
df = df.dropna()
df['race'].isna().sum(), df.shape

(0, (97070, 44))

## Age Values

### Original Categories

In [41]:
X = df.drop('readmitted', 1)
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Lower Numerical Range of Original Categories

In [42]:
X = df.drop('readmitted', 1)
X['age'].value_counts()

[70-80)     24732
[60-70)     21562
[50-60)     16698
[80-90)     16042
[40-50)      9386
[30-40)      3688
[90-100)     2521
[20-30)      1601
[10-20)       682
[0-10)        158
Name: age, dtype: int64

In [43]:
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 10,
                             '[20-30)' : 20,
                             '[30-40)' : 30,
                             '[40-50)' : 40,
                             '[50-60)' : 50,
                             '[60-70)' : 60,
                             '[70-80)' : 70,
                             '[80-90)' : 80,
                             '[90-100)' : 90})

In [44]:
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numeircal Value of Original Categories

In [45]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 5,
                             '[10-20)' : 15,
                             '[20-30)' : 25,
                             '[30-40)' : 35,
                             '[40-50)' : 45,
                             '[50-60)' : 55,
                             '[60-70)' : 65,
                             '[70-80)' : 75,
                             '[80-90)' : 85,
                             '[90-100)' : 95})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.013550135501355014

Higher Numeical Values of Original Categories

In [46]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 10,
                             '[10-20)' : 20,
                             '[20-30)' : 30,
                             '[30-40)' : 40,
                             '[40-50)' : 50,
                             '[50-60)' : 60,
                             '[60-70)' : 70,
                             '[70-80)' : 80,
                             '[80-90)' : 90,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 5 Categories (0-20) (20-40) (40-60) (60-90) (90-100)

In [47]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : '[0-20)',
                             '[10-20)' : '[0-20)',
                             '[20-30)' : '[20-40)',
                             '[30-40)' : '[20-40)',
                             '[40-50)' : '[40-60)',
                             '[50-60)' : '[40-60)',
                             '[60-70)' : '[60-90)',
                             '[70-80)' : '[60-90)',
                             '[80-90)' : '[60-90)',
                             '[90-100)' : '[90-100)'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.013550135501355014

Lower Numerical Values

In [48]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 0,
                             '[20-30)' : 20,
                             '[30-40)' : 20,
                             '[40-50)' : 40,
                             '[50-60)' : 40,
                             '[60-70)' : 60,
                             '[70-80)' : 60,
                             '[80-90)' : 60,
                             '[90-100)' : 90})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numeircal Values

In [49]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 10,
                             '[10-20)' : 10,
                             '[20-30)' : 30,
                             '[30-40)' : 30,
                             '[40-50)' : 50,
                             '[50-60)' : 50,
                             '[60-70)' : 75,
                             '[70-80)' : 75,
                             '[80-90)' : 75,
                             '[90-100)' : 95})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.014453477868112014

Higher Numerical Values

In [50]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 20,
                             '[10-20)' : 20,
                             '[20-30)' : 40,
                             '[30-40)' : 40,
                             '[40-50)' : 60,
                             '[50-60)' : 60,
                             '[60-70)' : 90,
                             '[70-80)' : 90,
                             '[80-90)' : 90,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 3 Categories (0-40) (40-90) (90-100)

In [51]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : '[0-40)',
                             '[10-20)' : '[0-40)',
                             '[20-30)' : '[0-40)',
                             '[30-40)' : '[0-40)',
                             '[40-50)' : '[40-90)',
                             '[50-60)' : '[40-90)',
                             '[60-70)' : '[40-90)',
                             '[70-80)' : '[40-90)',
                             '[80-90)' : '[40-90)',
                             '[90-100)' : '[90-100)'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Lower Numeical Values

In [52]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 0,
                             '[20-30)' : 0,
                             '[30-40)' : 0,
                             '[40-50)' : 40,
                             '[50-60)' : 40,
                             '[60-70)' : 40,
                             '[70-80)' : 40,
                             '[80-90)' : 40,
                             '[90-100)' : 90})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numerical Values

In [53]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 20,
                             '[10-20)' : 20,
                             '[20-30)' : 20,
                             '[30-40)' : 20,
                             '[40-50)' : 65,
                             '[50-60)' : 65,
                             '[60-70)' : 65,
                             '[70-80)' : 65,
                             '[80-90)' : 65,
                             '[90-100)' : 95})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Higher Numerical Values

In [54]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 40,
                             '[10-20)' : 40,
                             '[20-30)' : 40,
                             '[30-40)' : 40,
                             '[40-50)' : 90,
                             '[50-60)' : 90,
                             '[60-70)' : 90,
                             '[70-80)' : 90,
                             '[80-90)' : 90,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 3 Categories (0-50) (50-90) (90-100)

In [55]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : '[0-50)',
                             '[10-20)' : '[0-50)',
                             '[20-30)' : '[0-50)',
                             '[30-40)' : '[0-50)',
                             '[40-50)' : '[0-50)',
                             '[50-60)' : '[50-90)',
                             '[60-70)' : '[50-90)',
                             '[70-80)' : '[50-90)',
                             '[80-90)' : '[50-90)',
                             '[90-100)' : '[90-100)'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Lower Numeical Values

In [56]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 0,
                             '[20-30)' : 0,
                             '[30-40)' : 0,
                             '[40-50)' : 0,
                             '[50-60)' : 50,
                             '[60-70)' : 50,
                             '[70-80)' : 50,
                             '[80-90)' : 50,
                             '[90-100)' : 90})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numerical Values

In [57]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 25,
                             '[10-20)' : 25,
                             '[20-30)' : 25,
                             '[30-40)' : 25,
                             '[40-50)' : 25,
                             '[50-60)' : 70,
                             '[60-70)' : 70,
                             '[70-80)' : 70,
                             '[80-90)' : 70,
                             '[90-100)' : 95})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Higher Numerical Values

In [58]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 50,
                             '[10-20)' : 50,
                             '[20-30)' : 50,
                             '[30-40)' : 50,
                             '[40-50)' : 50,
                             '[50-60)' : 90,
                             '[60-70)' : 90,
                             '[70-80)' : 90,
                             '[80-90)' : 90,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 4 Categories According to Age Range - Child (0-10), Teen (10-20), Adult (20-60), Old (60-100)

In [59]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 'Child',
                             '[10-20)' : 'Teen',
                             '[20-30)' : 'Adult',
                             '[30-40)' : 'Adult',
                             '[40-50)' : 'Adult',
                             '[50-60)' : 'Adult',
                             '[60-70)' : 'Old',
                             '[70-80)' : 'Old',
                             '[80-90)' : 'Old',
                             '[90-100)' : 'Old'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Lower Numeical Values

In [60]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 10,
                             '[20-30)' : 20,
                             '[30-40)' : 20,
                             '[40-50)' : 20,
                             '[50-60)' : 20,
                             '[60-70)' : 60,
                             '[70-80)' : 60,
                             '[80-90)' : 60,
                             '[90-100)' : 60})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numerical Values

In [61]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 5,
                             '[10-20)' : 15,
                             '[20-30)' : 40,
                             '[30-40)' : 40,
                             '[40-50)' : 40,
                             '[50-60)' : 40,
                             '[60-70)' : 80,
                             '[70-80)' : 80,
                             '[80-90)' : 80,
                             '[90-100)' : 80})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Higher Numerical Values

In [62]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 10,
                             '[10-20)' : 20,
                             '[20-30)' : 60,
                             '[30-40)' : 60,
                             '[40-50)' : 60,
                             '[50-60)' : 60,
                             '[60-70)' : 100,
                             '[70-80)' : 100,
                             '[80-90)' : 100,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 3 Categories According to Age Range - Young (0-20), Adult (20-60), Old (60-100)

In [63]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 'Young',
                             '[10-20)' : 'Young',
                             '[20-30)' : 'Adult',
                             '[30-40)' : 'Adult',
                             '[40-50)' : 'Adult',
                             '[50-60)' : 'Adult',
                             '[60-70)' : 'Old',
                             '[70-80)' : 'Old',
                             '[80-90)' : 'Old',
                             '[90-100)' : 'Old'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Lower Numeical Values

In [64]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 0,
                             '[20-30)' : 20,
                             '[30-40)' : 20,
                             '[40-50)' : 20,
                             '[50-60)' : 20,
                             '[60-70)' : 60,
                             '[70-80)' : 60,
                             '[80-90)' : 60,
                             '[90-100)' : 60})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numerical Values

In [65]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 10,
                             '[10-20)' : 10,
                             '[20-30)' : 40,
                             '[30-40)' : 40,
                             '[40-50)' : 40,
                             '[50-60)' : 40,
                             '[60-70)' : 80,
                             '[70-80)' : 80,
                             '[80-90)' : 80,
                             '[90-100)' : 80})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Higher Numerical Values

In [66]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 20,
                             '[10-20)' : 20,
                             '[20-30)' : 60,
                             '[30-40)' : 60,
                             '[40-50)' : 60,
                             '[50-60)' : 60,
                             '[60-70)' : 100,
                             '[70-80)' : 100,
                             '[80-90)' : 100,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 3 Categories According to Age Range - Young (0-30), Mid (30-60), Old (60-100)

In [67]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 'Young',
                             '[10-20)' : 'Young',
                             '[20-30)' : 'Young',
                             '[30-40)' : 'Mid',
                             '[40-50)' : 'Mid',
                             '[50-60)' : 'Mid',
                             '[60-70)' : 'Old',
                             '[70-80)' : 'Old',
                             '[80-90)' : 'Old',
                             '[90-100)' : 'Old'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.014453477868112014

Lower Numeical Values

In [68]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 0,
                             '[10-20)' : 0,
                             '[20-30)' : 0,
                             '[30-40)' : 30,
                             '[40-50)' : 30,
                             '[50-60)' : 30,
                             '[60-70)' : 60,
                             '[70-80)' : 60,
                             '[80-90)' : 60,
                             '[90-100)' : 60})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Mid Numerical Values

In [69]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 15,
                             '[10-20)' : 15,
                             '[20-30)' : 15,
                             '[30-40)' : 45,
                             '[40-50)' : 45,
                             '[50-60)' : 45,
                             '[60-70)' : 80,
                             '[70-80)' : 80,
                             '[80-90)' : 80,
                             '[90-100)' : 80})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

Higher Numerical Values

In [70]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 30,
                             '[10-20)' : 30,
                             '[20-30)' : 30,
                             '[30-40)' : 60,
                             '[40-50)' : 60,
                             '[50-60)' : 60,
                             '[60-70)' : 100,
                             '[70-80)' : 100,
                             '[80-90)' : 100,
                             '[90-100)' : 100})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 5 Categories According to Readmission Rate

In [71]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 'A',
                             '[10-20)' : 'A',
                             '[20-30)' : 'B',
                             '[30-40)' : 'B',
                             '[40-50)' : 'C',
                             '[50-60)' : 'C',
                             '[60-70)' : 'D',
                             '[70-80)' : 'E',
                             '[80-90)' : 'D',
                             '[90-100)' : 'B'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 4 Categories According to Readmission Rate

In [72]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 'A',
                             '[10-20)' : 'A',
                             '[20-30)' : 'B',
                             '[30-40)' : 'B',
                             '[40-50)' : 'C',
                             '[50-60)' : 'C',
                             '[60-70)' : 'D',
                             '[70-80)' : 'D',
                             '[80-90)' : 'D',
                             '[90-100)' : 'B'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

### 3 Categories According to Readmission Rate

In [73]:
X = df.drop('readmitted', 1)
X['age'] = X['age'].replace({'[0-10)' : 'A',
                             '[10-20)' : 'A',
                             '[20-30)' : 'A',
                             '[30-40)' : 'A',
                             '[40-50)' : 'B',
                             '[50-60)' : 'B',
                             '[60-70)' : 'C',
                             '[70-80)' : 'C',
                             '[80-90)' : 'C',
                             '[90-100)' : 'A'})
X = pd.get_dummies(X, drop_first = True)
y = df['readmitted']
lr = LogisticRegression(random_state = 1, solver = 'liblinear')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.3)
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.01415236374585968

## Treating Age column (Taking Middle Numerical value after making 5 categories)

In [74]:
df['age'] = df['age'].replace({'[0-10)' : 10,
                             '[10-20)' : 10,
                             '[20-30)' : 30,
                             '[30-40)' : 30,
                             '[40-50)' : 50,
                             '[50-60)' : 50,
                             '[60-70)' : 75,
                             '[70-80)' : 75,
                             '[80-90)' : 75,
                             '[90-100)' : 95})
df.head()

              race  gender  age  ... diabetesMed readmitted preceding_year_visits
0        Caucasian       0   10  ...           0          0                     0
1        Caucasian       0   10  ...           1          0                     0
2  AfricanAmerican       0   30  ...           1          0                     3
3        Caucasian       1   30  ...           1          0                     0
4        Caucasian       1   50  ...           1          0                     0

[5 rows x 44 columns]

In [75]:
df.shape

(97070, 44)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97070 entries, 0 to 99299
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      97070 non-null  object
 1   gender                    97070 non-null  int64
 2   age                       97070 non-null  int64
 3   admission_type_id         97070 non-null  object
 4   discharge_disposition_id  97070 non-null  object
 5   admission_source_id       97070 non-null  object
 6   time_in_hospital          97070 non-null  int64
 7   num_lab_procedures        97070 non-null  int64
 8   num_procedures            97070 non-null  int64
 9   num_medications           97070 non-null  int64
 10  number_outpatient         97070 non-null  int64
 11  number_emergency          97070 non-null  int64
 12  number_inpatient          97070 non-null  int64
 13  diag_1                    97070 non-null  object
 14  diag_2                    97070 non-null  object
 15  diag_3                    97070 non-null  object
 16  number_diagnoses          97070 non-null  int64
 17  max_glu_serum             97070 non-null  object
 18  A1Cresult                 97070 non-null  object
 19  metformin                 97070 non-null  int64
 20  repaglinide               97070 non-null  int64
 21  nateglinide               97070 non-null  int64
 22  chlorpropamide            97070 non-null  int64
 23  glimepiride               97070 non-null  int64
 24  acetohexamide             97070 non-null  int64
 25  glipizide                 97070 non-null  int64
 26  glyburide                 97070 non-null  int64
 27  tolbutamide               97070 non-null  int64
 28  pioglitazone              97070 non-null  int64
 29  rosiglitazone             97070 non-null  int64
 30  acarbose                  97070 non-null  int64
 31  miglitol                  97070 non-null  int64
 32  troglitazone              97070 non-null  int64
 33  tolazamide                97070 non-null  int64
 34  insulin                   97070 non-null  int64
 35  glyburide-metformin       97070 non-null  int64
 36  glipizide-metformin       97070 non-null  int64
 37  glimepiride-pioglitazone  97070 non-null  int64
 38  metformin-rosiglitazone   97070 non-null  int64
 39  metformin-pioglitazone    97070 non-null  int64
 40  change                    97070 non-null  int64
 41  diabetesMed               97070 non-null  int64
 42  readmitted                97070 non-null  int64
 43  preceding_year_visits     97070 non-null  int64
dtypes: int64(35), object(9)
memory usage: 33.3+ MB

In [77]:
df.describe(include = 'all')

             race        gender  ...    readmitted preceding_year_visits
count       97070  97070.000000  ...  97070.000000          97070.000000
unique          5           NaN  ...           NaN                   NaN
top     Caucasian           NaN  ...           NaN                   NaN
freq        74201           NaN  ...           NaN                   NaN
mean          NaN      0.460997  ...      0.114557              1.213856
std           NaN      0.498479  ...      0.318488              2.311595
min           NaN      0.000000  ...      0.000000              0.000000
25%           NaN      0.000000  ...      0.000000              0.000000
50%           NaN      0.000000  ...      0.000000              0.000000
75%           NaN      1.000000  ...      0.000000              2.000000
max           NaN      1.000000  ...      1.000000             80.000000

[11 rows x 44 columns]

In [78]:
for i in df.columns:
    print(i, '\n', df[i].value_counts(), '\n')

race
 Caucasian          74201
AfricanAmerican    18759
Hispanic            2012
Other               1471
Asian                627
Name: race, dtype: int64

gender
 0    52321
1    44749
Name: gender, dtype: int64

age
 75    62336
50    26084
30     5289
95     2521
10      840
Name: age, dtype: int64

admission_type_id
 Emergency        70595
Elective         18305
Not Available     8170
Name: admission_type_id, dtype: int64

discharge_disposition_id
 Discharged to home                             58751
Transferred to another medical facility        20167
Discharged to home with home health service    12797
Not Available                                   4644
Left AMA                                         610
Still patient/referred to this institution       101
Name: discharge_disposition_id, dtype: int64

admission_source_id
 Emergency                                        55994
Referral                                         29653
Not Available                                     5720
Transferred from another health care facility     5703
Name: admission_source_id, dtype: int64

time_in_hospital
 3     17012
2     16509
1     13500
4     13361
5      9545
6      7181
7      5561
8      4177
9      2817
10     2211
11     1731
12     1362
13     1131
14      972
Name: time_in_hospital, dtype: int64

num_lab_procedures
 1      3089
43     2698
44     2398
45     2283
38     2130
       ...
114       1
118       1
129       1
120       1
121       1
Name: num_lab_procedures, Length: 118, dtype: int64

num_procedures
 0    44520
1    19840
2    12137
3     9032
6     4675
4     3970
5     2896
Name: num_procedures, dtype: int64

num_medications
 13    5817
12    5751
11    5566
15    5564
14    5464
      ...
70       2
75       2
74       1
79       1
81       1
Name: num_medications, Length: 75, dtype: int64

number_outpatient
 0     80958
1      8213
2      3458
3      1976
4      1061
5       506
6       290
7       154
8        96
9        82
10       57
11       40
13       30
12       29
14       28
15       20
16       13
17        8
21        6
20        6
22        5
18        5
19        3
24        3
27        3
23        2
26        2
29        2
33        2
35        2
36        2
40        1
25        1
28        1
34        1
37        1
38        1
39        1
42        1
Name: number_outpatient, dtype: int64

number_emergency
 0     86059
1      7410
2      1968
3       703
4       369
5       190
6        93
7        72
8        50
10       34
9        33
11       23
13       12
12       10
22        6
18        5
16        5
19        4
20        4
14        3
15        3
21        2
25        2
76        1
54        1
24        1
28        1
29        1
37        1
42        1
46        1
64        1
63        1
Name: number_emergency, dtype: int64

number_inpatient
 0     64429
1     18683
2      7203
3      3232
4      1560
5       786
6       474
7       262
8       144
9       109
10       59
11       49
12       32
13       18
14       10
15        9
16        6
19        2
17        1
18        1
21        1
Name: number_inpatient, dtype: int64

diag_1
 Circulatory                                     29004
Respiratory                                     13624
Digestive                                        9154
Diabetes                                         8471
Injury and Poisoning                             6699
Genitourinary                                    4912
Musculoskeletal System and Connective Tissue     4801
Neoplasms                                        2893
Endocrine, Nutritional, Metabolic, Immunity      2553
Skin and Subcutaneous Tissue                     2536
Infectious and Parasitic                         2487
Other Symptoms                                   2474
Mental Disorders                                 2174
External causes of injury                        1595
Blood and Blood-Forming Organs                   1078
Nervous                                           902
Congenital Anomalies                              791
Pregnancy, Childbirth                             668
Sense Organs                                      254
Name: diag_1, dtype: int64

diag_2
 Circulatory                                     30463
Diabetes                                        12389
Respiratory                                     10165
Genitourinary                                    8001
Endocrine, Nutritional, Metabolic, Immunity      7896
Digestive                                        3994
Skin and Subcutaneous Tissue                     3499
Blood and Blood-Forming Organs                   2801
Mental Disorders                                 2570
External causes of injury                        2483
Other Symptoms                                   2314
Injury and Poisoning                             2301
Neoplasms                                        2246
Infectious and Parasitic                         1815
Musculoskeletal System and Connective Tissue     1711
Nervous                                          1048
Congenital Anomalies                              478
Pregnancy, Childbirth                             406
Not Required                                      334
Sense Organs                                      156
Name: diag_2, dtype: int64

diag_3
 Circulatory                                     28947
Diabetes                                        16538
Endocrine, Nutritional, Metabolic, Immunity      8726
Respiratory                                      6857
Genitourinary                                    6287
External causes of injury                        4937
Digestive                                        3781
Mental Disorders                                 3027
Skin and Subcutaneous Tissue                     2495
Blood and Blood-Forming Organs                   2402
Other Symptoms                                   2267
Musculoskeletal System and Connective Tissue     1846
Injury and Poisoning                             1845
Infectious and Parasitic                         1773
Neoplasms                                        1577
Nervous                                          1398
Not Required                                     1345
Congenital Anomalies                              467
Pregnancy, Childbirth                             301
Sense Organs                                      254
Name: diag_3, dtype: int64

number_diagnoses
 9     47046
5     10600
8     10181
7     10015
6      9829
4      5348
3      2754
2       981
1       214
16       38
13       16
10       15
11       11
15        8
12        8
14        6
Name: number_diagnoses, dtype: int64

max_glu_serum
 None    91978
Norm     2517
>200     1397
>300     1178
Name: max_glu_serum, dtype: int64

A1Cresult
 None    80662
>8       7881
Norm     4836
>7       3691
Name: A1Cresult, dtype: int64

metformin
 -2    77697
 0    17777
 1     1035
-1      561
Name: metformin, dtype: int64

repaglinide
 -2    95562
 0     1359
 1      106
-1       43
Name: repaglinide, dtype: int64

nateglinide
 -2    96389
 0      647
 1       23
-1       11
Name: nateglinide, dtype: int64

chlorpropamide
 -2    96987
 0       76
 1        6
-1        1
Name: chlorpropamide, dtype: int64

glimepiride
 -2    92105
 0     4466
 1      316
-1      183
Name: glimepiride, dtype: int64

acetohexamide
 -2    97069
 0        1
Name: acetohexamide, dtype: int64

glipizide
 -2    84827
 0    10963
 1      748
-1      532
Name: glipizide, dtype: int64

glyburide
 -2    86820
 0     8925
 1      783
-1      542
Name: glyburide, dtype: int64

tolbutamide
 -2    97050
 0       20
Name: tolbutamide, dtype: int64

pioglitazone
 -2    89970
 0     6758
 1      226
-1      116
Name: pioglitazone, dtype: int64

rosiglitazone
 -2    90907
 0     5913
 1      168
-1       82
Name: rosiglitazone, dtype: int64

acarbose
 -2    96771
 0      286
 1       10
-1        3
Name: acarbose, dtype: int64

miglitol
 -2    97032
 0       31
-1        5
 1        2
Name: miglitol, dtype: int64

troglitazone
 -2    97067
 0        3
Name: troglitazone, dtype: int64

tolazamide
 -2    97031
 0       38
 1        1
Name: tolazamide, dtype: int64

insulin
 -2    45487
 0    29118
-1    11735
 1    10730
Name: insulin, dtype: int64

glyburide-metformin
 -2    96399
 0      662
 1        6
-1        3
Name: glyburide-metformin, dtype: int64

glipizide-metformin
 -2    97057
 0       13
Name: glipizide-metformin, dtype: int64

glimepiride-pioglitazone
 -2    97069
 0        1
Name: glimepiride-pioglitazone, dtype: int64

metformin-rosiglitazone
 -2    97070
Name: metformin-rosiglitazone, dtype: int64

metformin-pioglitazone
 -2    97069
 0        1
Name: metformin-pioglitazone, dtype: int64

change
 0    52046
1    45024
Name: change, dtype: int64

diabetesMed
 1    74842
0    22228
Name: diabetesMed, dtype: int64

readmitted
 0    85950
1    11120
Name: readmitted, dtype: int64

preceding_year_visits
 0     53029
1     19114
2      9621
3      5629
4      3408
5      1970
6      1262
7       843
8       541
9       420
10      261
11      245
12      135
13       97
15       96
14       86
16       66
17       59
19       32
18       31
20       22
22       14
21       13
24        9
27        9
25        7
26        5
29        5
36        5
35        5
30        4
23        4
38        2
37        2
42        2
33        2
32        2
31        2
28        2
68        2
41        1
48        1
49        1
40        1
34        1
80        1
61        1
Name: preceding_year_visits, dtype: int64

In [81]:
df.to_csv('/content/drive/My Drive/PGPDSE/Capstone/CSV Files/Diabetes_Preprocessed.csv', index = False)