<a href="https://colab.research.google.com/github/saurabhtayal/Capstone-Project---Diabetic-Patients-Readmission-Prediction/blob/master/Baseline_Model_Comparisons_Saurabh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import recall_score, f1_score, confusion_matrix, classification_report

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/saurabhtayal/Capstone-Project---Diabetic-Patients-Readmission-Prediction/master/diabetic_data.csv')

In [4]:
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO

[5 rows x 50 columns]

In [6]:
X = pd.get_dummies(df.drop('readmitted', axis = 1), drop_first = True)
y = df['readmitted'].replace({'NO' : 0, '>30' : 0, '<30' : 1})

In [7]:
X.head()

   encounter_id  patient_nbr  ...  change_No  diabetesMed_Yes
0       2278392      8222157  ...          1                0
1        149190     55629189  ...          0                1
2         64410     86047875  ...          1                1
3        500364     82442376  ...          0                1
4         16680     42519267  ...          0                1

[5 rows x 2436 columns]

In [8]:
y.value_counts()

0    90409
1    11357
Name: readmitted, dtype: int64

In [9]:
X.shape

(101766, 2436)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.3)

In [11]:
lr = LogisticRegression(random_state = 0)

In [12]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
recall_score(y_test, y_pred)

0.0

In [14]:
confusion_matrix(y_test, y_pred)

array([[27108,     0],
       [ 3422,     0]])

In [16]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      1.00      0.94     27108
           1       0.00      0.00      0.00      3422

    accuracy                           0.89     30530
   macro avg       0.44      0.50      0.47     30530
weighted avg       0.79      0.89      0.84     30530

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))